.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/***** Logo ******/
.login-form{
  padding-top: 100px
}

.logo-text1{
  font-family: 'Big Shoulders Stencil Text', cursive;
  color: #A3CB38;
  font-size: 50px;
}

.logo-text2{
  font-family: 'Big Shoulders Stencil Text', cursive;
  color: #EA2027;
  font-size: 50px;
}
/******** Habit *********/
.text-add-habit{
  columns: white;
  font-size: larger;
}